<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrapeword</title>
  </head>
  <body>
    <div class="content-section">
      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            <h1>Log in</h1>
            {{ form.as_p }}
          </legend>
        </fieldset>
        <div>
          <button type="submit">Log in</button>
        </div>
      </form>
      <div>
        <p>New to Scrapeword? <a href="{% url 'signup' %}">Sign up</a></p>
      </div>
    </div>
  </body>
</html>
