<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrapeword</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 190 35"
            width="190"
            height="35"
          >
            <text
              x="0"
              y="20"
              style="font-family: 'Sono', sans-serif; font-size: 24"
            >
              Scrapeword
            </text>
          </svg>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="#learn">How it Works</a></li>
          <li><a href="{% url 'signup' %}">Sign up</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <h1>Store your vocabulary in Scrapeword.</h1>
      <p>
        A fast and easy way to translate your new vocabulary with your favorite
        translators and dictionaries.
      </p>
    </div>
    <footer>
      <a href="https://github.com/cosmigonon" target="_blank"
        ><p><small> Designed & Built by Jhon J</small></p></a
      >
    </footer>
  </body>
</html>
