<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapeword</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header>
        <h1 class="logo">ScrapeWord</h1>
        <div class="searchbox">
            <form autocomplete="on">
                <input type="search" placeholder="Search" id="query" name="q">
                <button title="Search">Search</button>
            </form>
        </div>  
        <nav class="menu">
            <ul class="nav-links">  
                <li><a href="#home" title="Home">Home</a></li>
                <li><a href="#create" title="Create">Create</a></li>
            </ul>
            <a class="account" href="#account"><button>Sign in</button></a>
        </nav>
    </header>
    
    
</body>
</html>