@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.logo {
    font-family: 'Sono', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

div.searchbox {
    font-family: 'Harmattan', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}